* {
    font-family: Helvetica;
}

.global_header {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.naming_section {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes {
    background-color: mediumseagreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.price {
    font-weight: bold;
    color: blue;
}
.main_container {
    background-image: url("/Dasmoto/resources/images/pattern.jpeg")
}

